<a href="https://colab.research.google.com/github/kwagdm/TIL/blob/master/contents_bsed_filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
user_table = pd.read_excel('/content/drive/My Drive/프로젝트/트래블 메이커/Data/User Table_10000.xlsx', index_col=0)
user_table = user_table.reset_index()
user_table = user_table.drop(['Rank', 'Rand'], axis=1)
user_table.head()

   USER ID  H  A  F  E  P  S  N  M
0        1  1  0  0  1  1  0  1  0
1        2  0  1  1  0  1  0  0  1
2        3  1  0  1  0  1  0  0  1
3        4  0  1  1  0  1  0  0  1
4        5  1  0  1  0  1  0  1  0

In [ ]:
item_table = pd.read_csv('/content/drive/My Drive/프로젝트/트래블 메이커/Data/scaling_item_table.csv', index_col=0)
item_table = item_table.drop(['리뷰'], axis=1)
item_table.columns = ['item', 'A', 'H', 'F', 'E', 'P', 'S', 'N', 'M']
item_table = item_table[['item', 'H', 'A', 'F', 'E', 'P', 'S', 'N', 'M']]
item_table.head()

       item  H  A    F     E    P    S  N  M
0  제주특별자치도청  3  0  0.0  2.50  0.0  0.0  4  1
1     성산일출봉  3  1  2.5  0.00  0.0  0.0  5  5
2      새별오름  2  2  2.5  0.00  0.0  0.0  2  1
3    협재해수욕장  4  0  0.0  1.25  0.0  0.0  1  5
4    함덕해수욕장  5  0  0.0  0.00  0.0  0.0  4  1

# 코사인 유사도  
- A와 가장 유사한 거 찾아주는 함수

In [ ]:
def similar_users(a):
  user_table_minus_list = {}
  user_table_minus = user_table.drop(a - 1).reset_index().drop(['index'], axis=1)
  user_table_without_USERID = user_table.drop(['USER ID'], axis=1)
  user_table_minus_without_USERID = user_table_minus.drop(['USER ID'], axis=1)
  for i in range(len(user_table_minus)):
    user_table_minus_list[user_table_minus['USER ID'][i]] = np.dot(user_table_without_USERID.loc[a - 1], user_table_minus_without_USERID.loc[i])
  max_users = []
  for keys, values in user_table_minus_list.items():
    if values == max(user_table_minus_list.values()):
      max_users.append('user' + str(keys))
  return max_users

In [ ]:
similar_users(1)

['user18',
 'user24',
 'user29',
 'user55',
 'user58',
 'user59',
 'user89',
 'user95',
 'user105',
 'user141',
 'user175',
 'user186',
 'user223',
 'user263',
 'user284',
 'user296',
 'user297',
 'user300',
 'user368',
 'user381',
 'user398',
 'user414',
 'user427',
 'user432',
 'user465',
 'user492',
 'user509',
 'user515',
 'user528',
 'user541',
 'user566',
 'user599',
 'user620',
 'user655',
 'user675',
 'user690',
 'user738',
 'user751',
 'user767',
 'user787',
 'user843',
 'user879',
 'user903',
 'user920',
 'user929',
 'user937',
 'user1005',
 'user1013',
 'user1032',
 'user1045',
 'user1089',
 'user1160',
 'user1171',
 'user1176',
 'user1183',
 'user1185',
 'user1186',
 'user1192',
 'user1208',
 'user1248',
 'user1252',
 'user1273',
 'user1284',
 'user1286',
 'user1313',
 'user1338',
 'user1366',
 'user1369',
 'user1387',
 'user1431',
 'user1434',
 'user1458',
 'user1464',
 'user1483',
 'user1541',
 'user1602',
 'user1653',
 'user1655',
 'user1660',
 'user1666',
 'user1677',
 'user1710',
 'user1832',
 'user1841',
 'user1844',
 'user1914',
 'user1928',
 'user1951',
 'user1973',
 'user1980',
 'user1985',
 'user2017',
 'user2040',
 'user2052',
 'user2060',
 'user2068',
 'user2078',
 'user2094',
 'user2117',
 'user2120',
 'user2122',
 'user2127',
 'user2132',
 'user2135',
 'user2175',
 'user2192',
 'user2215',
 'user2222',
 'user2225',
 'user2254',
 'user2265',
 'user2272',
 'user2286',
 'user2306',
 'user2313',
 'user2319',
 'user2325',
 'user2326',
 'user2338',
 'user2367',
 'user2402',
 'user2405',
 'user2449',
 'user2461',
 'user2470',
 'user2481',
 'user2484',
 'user2510',
 'user2522',
 'user2523',
 'user2551',
 'user2559',
 'user2570',
 'user2577',
 'user2615',
 'user2619',
 'user2643',
 'user2674',
 'user2676',
 'user2735',
 'user2741',
 'user2746',
 'user2751',
 'user2762',
 'user2816',
 'user2844',
 'user2862',
 'user2916',
 'user2921',
 'user2929',
 'user2945',
 'user2975',
 'user3062',
 'user3098',
 'user3117',
 'user3174',
 'user3191',
 'user3223',
 'user3242',
 'user3248',
 'user3285',
 'user3297',
 'user3362',
 'user3386',
 'user3402',
 'user3405',
 'user3433',
 'user3459',
 'user3502',
 'user3517',
 'user3528',
 'user3561',
 'user3574',
 'user3585',
 'user3589',
 'user3593',
 'user3602',
 'user3613',
 'user3617',
 'user3656',
 'user3681',
 'user3688',
 'user3705',
 'user3722',
 'user3728',
 'user3739',
 'user3748',
 'user3764',
 'user3772',
 'user3802',
 'user3807',
 'user3813',
 'user3833',
 'user3862',
 'user3868',
 'user3869',
 'user3882',
 'user3891',
 'user3893',
 'user3915',
 'user3925',
 'user3927',
 'user3931',
 'user3985',
 'user3995',
 'user4088',
 'user4154',
 'user4163',
 'user4172',
 'user4174',
 'user4184',
 'user4240',
 'user4250',
 'user4347',
 'user4378',
 'user4390',
 'user4393',
 'user4420',
 'user4428',
 'user4520',
 'user4526',
 'user4541',
 'user4614',
 'user4625',
 'user4669',
 'user4685',
 'user4686',
 'user4687',
 'user4716',
 'user4755',
 'user4778',
 'user4787',
 'user4793',
 'user4825',
 'user4831',
 'user4849',
 'user4864',
 'user4870',
 'user4889',
 'user4892',
 'user4894',
 'user4912',
 'user4937',
 'user4949',
 'user4967',
 'user4981',
 'user4996',
 'user5003',
 'user5040',
 'user5050',
 'user5170',
 'user5186',
 'user5187',
 'user5191',
 'user5198',
 'user5200',
 'user5221',
 'user5235',
 'user5255',
 'user5307',
 'user5341',
 'user5364',
 'user5373',
 'user5399',
 'user5401',
 'user5406',
 'user5466',
 'user5471',
 'user5501',
 'user5538',
 'user5611',
 'user5643',
 'user5664',
 'user5674',
 'user5684',
 'user5710',
 'user5734',
 'user5757',
 'user5765',
 'user5774',
 'user5831',
 'user5850',
 'user5871',
 'user5873',
 'user5878',
 'user5903',
 'user5944',
 'user5963',
 'user5988',
 'user5999',
 'user6037',
 'user6053',
 'user6054',
 'user6067',
 'user6077',
 'user6113',
 'user6123',
 'user6132',
 'user6154',
 'user6163',
 'user6216',
 'user6298',
 'user6304',
 'user6318',
 'user6324',
 'user6328',
 'user6342',
 'user6362',
 'user6367',
 'user6375',
 'user6382',
 'user6387',
 'user6398',
 'user6430',
 'user6431',
 'user6437',
 'user6438',
 'user6454',
 'user6458',
 'user6467',
 'user6482',
 'user6483',
 'user6489',
 'user6501',
 'user6502',
 'user6512',
 'user6523',
 'user6542',
 'user6569',
 'user6595',
 'user6613',
 'user6638',
 'user6662',
 'user6670',
 'user6689',
 'user6700',
 'user6711',
 'user6717',
 'user6723',
 'user6739',
 'user6778',
 'user6810',
 'user6819',
 'user6825',
 'user6838',
 'user6840',
 'user6841',
 'user6890',
 'user6896',
 'user6922',
 'user6944',
 'user6952',
 'user6961',
 'user6976',
 'user6992',
 'user7011',
 'user7019',
 'user7022',
 'user7050',
 'user7063',
 'user7064',
 'user7105',
 'user7124',
 'user7126',
 'user7142',
 'user7151',
 'user7195',
 'user7216',
 'user7234',
 'user7238',
 'user7293',
 'user7326',
 'user7362',
 'user7404',
 'user7424',
 'user7433',
 'user7464',
 'user7495',
 'user7523',
 'user7556',
 'user7641',
 'user7675',
 'user7725',
 'user7755',
 'user7763',
 'user7843',
 'user7854',
 'user7865',
 'user7914',
 'user7926',
 'user7953',
 'user7957',
 'user7969',
 'user7980',
 'user7990',
 'user7994',
 'user8005',
 'user8024',
 'user8041',
 'user8056',
 'user8122',
 'user8144',
 'user8156',
 'user8216',
 'user8245',
 'user8247',
 'user8273',
 'user8286',
 'user8298',
 'user8330',
 'user8358',
 'user8361',
 'user8391',
 'user8398',
 'user8410',
 'user8457',
 'user8471',
 'user8481',
 'user8488',
 'user8507',
 'user8518',
 'user8539',
 'user8586',
 'user8642',
 'user8644',
 'user8645',
 'user8719',
 'user8727',
 'user8731',
 'user8738',
 'user8762',
 'user8769',
 'user8785',
 'user8809',
 'user8829',
 'user8881',
 'user8912',
 'user8949',
 'user8950',
 'user8977',
 'user8991',
 'user8995',
 'user9007',
 'user9027',
 'user9030',
 'user9049',
 'user9052',
 'user9054',
 'user9056',
 'user9074',
 'user9075',
 'user9101',
 'user9137',
 'user9155',
 'user9160',
 'user9233',
 'user9297',
 'user9304',
 'user9325',
 'user9326',
 'user9340',
 'user9360',
 'user9405',
 'user9415',
 'user9432',
 'user9497',
 'user9501',
 'user9542',
 'user9570',
 'user9574',
 'user9605',
 'user9608',
 'user9611',
 'user9639',
 'user9661',
 'user9680',
 'user9749',
 'user9755',
 'user9776',
 'user9810',
 'user9822',
 'user9828',
 'user9872',
 'user9878',
 'user9911',
 'user9912',
 'user9916',
 'user9952',
 'user9972']

# Linear Regression

In [ ]:
def ratings(b):
  user_table_minus_USERID = user_table.drop(['USER ID'], axis=1)
  item_table_minus_item = item_table.drop(['item'], axis=1)
  items = []
  for i in range(len(item_table)):
    items.append(item_table['item'][i])
  ratings = {}
  for i in range(len(item_table_minus_item)):
    ratings[items[i]] = np.dot(user_table_minus_USERID.iloc[b - 1], item_table_minus_item.iloc[i])
  max_ratings = []
  for keys, values in ratings.items():
    if values == max(ratings.values()):
      max_ratings.append(keys)
  return max_ratings

In [ ]:
ratings(1)

['노라바', '도두해녀의집']